@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(270deg, #cad2dd, #ffffff, #bae2da);
  background-size: 300% 300%; 
  min-height: 100vh; 
  margin: 0; 
  font-family: Arial, sans-serif; 
  animation: gradient-animation 10s ease infinite; 
}

.bgcomp {
  background-color: transparent; 
  padding: 20px; 
  border-radius: 5px; 
}

.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .nav-link {
    color: aliceblue;
    transition: color 0.3s; 
}

.nav-link:hover {
    color: #1abc9c;
    text-decoration: underline; 
}

  