<div class="container text-center my-5 bgcomp" style="padding: 50px; border-radius: 10px;">
  <img src="assets/logo.png" alt="Logo de bienvenida" class="mb-4 logo">
  <h1 class="mb-3" style="color: #34495e;">¡Bienvenido!</h1>
  <p class="mb-5" style="color: #16a085; font-size: 1.2rem;">Gestiona tus tareas de forma fácil y organizada.</p>

  <div>
    <a routerLink="/create-task" class="btn btn-lg mx-2" style="background-color: #1abc9c; color: white; border: none;">
      Crear nueva tarea
    </a>
    <a routerLink="/task-list" class="btn btn-lg mx-2" style="background-color: #2980b9; color: white; border: none;">
      Ver lista de tareas
    </a>
  </div>
</div>
